<div id="container">
  <div id="start-button" class="button center" @click="start">
    <input id="file-input" style="display:none;" type="file" @change="getInputImage" accept="image/*">
    <span>开始!<span>
  </div>
  <img id="play-img" class="img-responsive center" :src="imgSrc" v-show="!!imgSrc">
  <div class="docker"></div>
  <div class="draggable" data-tag="A"></div>
  <div class="draggable" data-tag="B"></div>
  <div class="draggable" data-tag="C"></div>
  <div class="trash" style="right:10px; bottom:10px;"></div>
</div>